.state {
  margin-left: 190px;
  width: 112px;
  height: 36px;
  font-family: "Montserrat";
  margin-top: 120px;
  font-weight: 700;
  font-size: 30px;
  border-bottom: solid 0.5px #2b7bc6;
  color: #000000;
}

.stateimg {
  width: 370px;
  height: 247px;
}
.stategrid {
  display: grid;
  grid-template-columns: repeat(4, 374.4px);
  column-gap: 15px;
  margin-left: 190px;
}

.statebord {
  margin-bottom: 40px;
}

.bacgraundstate {
  margin-top: 40px;
  background-color: white;
  height: 350px;
}

.state_p {
  margin-left: 30px;
  width: 300px;
  height: 48px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
}
